@model IEnumerable<DatLich.Models.sale>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Seller</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="~/Admin/Home/Index">Admin Home</a></li>
            <li class="breadcrumb-item active">Seller</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Trang quản lý ưu đãi
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Seller Manager
                <a class="btn btn-primary" style="width=100px" href="~/Admin/Seller/Create">Create</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Discount</th>
                            <th>Status</th>
                            <th>         </th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Discount</th>
                            <th>Status</th>
                            <th>         </th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <img src="@item.image" class="img-rounded" width="60px" height="60px " />
                                </td>
                                <td>@item.discount</td>
                                @if (@item.status == true)
                                {
                                    <td>Apply</td>
                                }
                                else
                                {
                                    <td>None</td>
                                }

                                <td>
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <a class="btn btn-primary btn-sm rounded-0" type="button" href="~/Admin/Seller/Detail/@item.id" data-placement="top" title="Detail">Detail</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit" href="~/Admin/Seller/Edit/@item.id">Edit</a>
                                        </li>
                                        <li class="list-inline-item">
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm rounded-0" })
                                        </li>
                                    </ul>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>

